# Node.js dependencies  
node_modules/  
npm-debug.log*  
yarn-debug.log*  
yarn-error.log*  
pnpm-debug.log*  
package-lock.json  
yarn.lock  
pnpm-lock.yaml  

# Environment variables  
.env  
.env.local  
.env.development  
.env.production  
.env.test  

# Logs  
logs/  
*.log  
npm-debug.log*  
yarn-debug.log*  
pnpm-debug.log*  
lerna-debug.log*  
.log  
log.txt  
logfile.txt  
/coverage  
/.nyc_output  

# Editor and system files  
.DS_Store  
Thumbs.db  
.vscode/  
.idea/  
*.swp  
*.swo  

# Build files (for both frontend and backend)  
/build  
/dist  
/.parcel-cache  
/.next  
.next/cache  
.next/static  
/out  

# Database and uploads  
/data/  
/mongodb/  
dump.rdb  
*.sqlite  
*.sqlite3  
/uploads  

# Backend (Express) specific files  
coverage/  
*.pid  
.nodemon-debug.json  
pm2-log.json  

# Frontend (React) specific files  
/.eslintcache  
public/build  
public/static  
